@function rem($px) { @return ($px / 16) * 1rem; }

@mixin container {
  width: 100%;
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: rem(16);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
